header.header
    .container
        .header-wrapper
            .header-bar
                .header-logo
                    img(src="static/images/content/logo.png" alt="логотип")
                nav.header-nav
                    ul.header-list
                        li.header-list__item
                            a(href="javascript:void(0)").header-list__link Main
                        li.header-list__item
                            a(href="javascript:void(0)").header-list__link Gallery
                        li.header-list__item
                            a(href="javascript:void(0)").header-list__link News
                        li.header-list__item
                            a(href="javascript:void(0)").header-list__link Profile
            .header-contact
                a(href="tel:+544349000000").header-contact__number +544 3490 00000
                .header-contact__text Звони скорее!
        h1.header__title Найдено 349 котов
        