footer.footer
    .container
        .footer-body
            .footer-body-left
                h1.footer-body-left__title Успей купить!
                p.footer-body-left__descr Подпишись и успей словить все акции
            .footer-body-right
                form(name="form").footer-body-right__form
                    input(type="email" placeholder="Email" name="email" class="form-email" id="email-id" required).footer-body-right__inputEmail
                    input(type="submit" value="Подписаться" class="form-submit").footer-body-right__inputSubcr
                .footer-body-right__subcr
                    input(type="checkbox" class="custom-checkbox" name="footer-checkbox" id="footer-checkbox" value="yes")
                    label(for="footer-checkbox")
                        span Подписаться на новости